 <!-- <header style="width: 50vw; height:8vh;background-color: cornflowerblue;">
    <button style="margin-top: 0%;border: none;outline:none;"  type="button" class="close" mat-dialog-close >&times;</button>

    <h3 style="color: white;text-align: center;">Task Details</h3>

</header>

                    
<div class="container-fluid" style="overflow-x: hidden;" >
    <div class="row">
        <div class="col-md-5">
            <label>Project Name </label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.projectName}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label>Team Member </label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.teamMember}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label>Task Status</label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.taskStatus}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label>Created On </label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.createdOn|date:'medium'}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label>Assign On </label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.assignOn==null?'NA':data.tasks.assignOn|date:'medium'}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label>Start Date </label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.startOn==null?'NA':data.tasks.startOn|date:'medium'}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label>End Date </label>
        </div>
        <div class="col-md-1">:</div>

        <div class="col-md-6">
            <label>{{data.tasks.endOn==null?'NA':data.tasks.endOn|date:'medium'}}</label>

        </div>
    </div>
</div>
           
    <div style="background-color:  rgb(0, 80, 172);">
        <button style="margin-left: 80%; width:100px" class="btn btn-danger" mat-dialog-close >Close</button>
     </div>


<div>
    
</div> -->














<div style="width:700px;">

    <h2 mat-dialog-title class="title">Task Details
        
        <button style="border: none;outline:none; color: white;" class="close" mat-dialog-close >&times;</button>

       </h2>

      
   
       <mat-dialog-content>
        <!-- <qr-code  style="margin-left: 38%;" [value]="datastring" size="200"></qr-code> -->

        <div class="row">
            <div class="col-md-5">
                <label>Task </label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.taskName}}</label>
    
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Project Name </label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.projectName}}</label>
    
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label>Created By</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.createdBy}}</label>
    
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Modified By</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.modifiedBy==null?'NA':data.tasks.modifiedBy}}</label>
    
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label>Assigned To </label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.teamMember}}</label>
    
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-5">
                <label>Task Status</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.taskStatus}}</label>
    
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-5">
                <label>Created On </label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.createdOn|date:'MMM dd,yyyy,HH:mm a'}}</label>
    
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-5">
                <label>Assigned On </label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.assignOn==null?'NA':data.tasks.assignOn|date:'MMM dd,yyyy,HH:mm a'}}</label>
    
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-5">
                <label>Started On</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.startOn==null?'NA':data.tasks.startOn|date:'MMM dd,yyyy,HH:mm a'}}</label>
    
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label>Holded On</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.holdOn==null?'NA':data.tasks.holdOn|date:'MMM dd,yyyy,HH:mm a'}}</label>
    
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label>Cancelled On</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.cancelledOn==null?'NA':data.tasks.cancelledOn|date:'MMM dd,yyyy,HH:mm a'}}</label>
    
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-5">
                <label>Completed On</label>
            </div>
            <div class="col-md-1">:</div>
    
            <div class="col-md-6">
                <label>{{data.tasks.endOn==null?'NA':data.tasks.endOn|date:'MMM dd,yyyy,HH:mm a'}}</label>
    
            </div>
        </div>
      </mat-dialog-content>
   
   <div style="background-color:  rgb(0, 80, 172);">
    <button style="margin-left: 85%; width:80px;margin-top: 1%;margin-bottom: 1%;" class="btn btn-danger" mat-dialog-close >Close</button>

   </div>
</div>
  
    
    
