/* .row{
    margin-left:18%;
}

header
{
    padding: 10px;
} */


 
   .title{
       text-align: center;
       font-size: 40px;
   }
  
 .row{
 margin-left: 85px;
 
 }
 .mat-dialog-title{
     background-color: rgb(0, 80, 172);
     padding: 12px;
     color:white;
 }

  
 ::ng-deep.mat-dialog-container {
    padding: 0px !important;
    overflow: hidden;
    overflow-y: hidden;
  
 }

 
 mat-dialog-actions{
    padding-bottom: 5px;
 }