<div class="dashboard pg-wrapper">

  <div class="container-fluid"  style="margin-left: 20%;">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>
  
          <div class="info-box-content">
            <span class="info-box-text">Total No.of Users</span>
            <span class="info-box-number">{{totalUsers}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
     
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-project-diagram"></i></span>
   
          <div class="info-box-content">
            <span class="info-box-text">Total No.of Projects</span>
            <span class="info-box-number">{{totalProjects}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
  
      <!-- fix for small devices only -->
  
   
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-tasks"></i></span>
   
          <div class="info-box-content">
            <span class="info-box-text">Total No.of Tasks</span>
            <span class="info-box-number">{{ totalTasks}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>


<br>
    <!---  charts  -->

    <div class="row">
      

      <div class="col-md-6 ">
        <div class="card">
          <div class="card-header">
            <h3></h3>
          </div>
          <div class="card-body">
              <canvas id="myChart" width="200" height="150"  (click)="onBarChartClick($event)"></canvas>
      
          </div>
        </div>
      </div>
     
      <div class="col-md-6">
       <div class="card">
         <div class="card-header">
           <h3></h3>
         </div>
         <div class="card-body">
             <canvas id="myChart2" width="200px" height="150" (click)="onPieChartClick($event)"></canvas>

         </div>
       </div>
     </div>
   
    
    </div>
    <!-- /charts -->
 
  
</div>

<div  class="card-body" *ngIf="barchartdata">
  <h3 style="margin-left: 50%;">List of Tasks in  {{projectName}}  Project</h3>
<hr style="margin-left: 50%;">
  <table  style="margin-left: 20%;" id = "table" class="card-table table"  >
    <thead>
        <tr>
            <th>Task ID</th>
            <th>ProjectName</th>
            <th>TeamMember</th>
            <th>TaskName</th>
            <th>Created on</th>
            <th>TaskStatus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskData">
            <td>{{task._id}}</td>
            <td>{{task.projectName}}</td>
            <td>{{task.teamMember}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.createdOn|date:'medium'}}</td>
            <td>{{task.taskStatus}}</td>
        </tr>
    </tbody>

</table>

</div>


<div  class="card-body" *ngIf="piechartdata">
  <h3 style="margin-left: 50%;">List of Projects in  {{projectName}}  State</h3>
  <hr style="margin-left: 50%;">
  <table  style="margin-left: 20%;" id = "table" class="card-table table"  >
    <thead>
        <tr>
            <th>Task ID</th>
            <th>ProjectName</th>
            <th>TeamMember</th>
            <th>Created on</th>
            <th>TaskStatus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let status of statusData">
            <td>{{status._id}}</td>
            <td>{{status.projectName}}</td>
            <td>{{status.teamMember}}</td>
            <td>{{status.createdOn|date:'medium'}}</td>
            <td>{{status.taskStatus}}</td>
        </tr>
    </tbody>

</table>

</div>
</div>
          
