<button id="show_content" mat-raised-button color="accent" style="margin-left:20%;margin-top: 2%;" (click)="Fn_AddUser()">Add Project </button>
<div class="container-fluid" style="margin-top: 2%;">
    <div class="row">
        <div class="col-12">
            <div class="card" id="table-content">

                <!-- /.card-header -->
                <div class="card-body">
                    <table  id = "table" class="card-table table"  datatable>
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Status</th>
                                <th>Project Lead</th>
                                <th>Created on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projectService.projects">
                                <td>{{project.projectName}}</td>
                                <td>{{project.projectState}}</td>
                                <td>{{project.projectLead==null?'NA':project.projectLead}}</td>
                                <td>{{project.createdOn |date:'medium' }}</td>
                                <td>
                                    <button [hidden]="project.projectLead==null?true:false"  value = "EDIT"  [disabled]="project.projectState=='completed' || project.projectState=='cancelled'?true:false" class="btn btn-primary" style="background-color: rgb(211, 21, 211);width: 80px;border: transparent;margin-left: 3px;"
                                        (click)="fn_Edit(project)"> Edit</button>

                                    <button [hidden]="project.projectLead==null?false:true"  value = "MAP"  id="{{project._id}}" class="btn btn-warning" style="background-color: rgb(250, 81, 109);width: 80px;border: transparent;margin-left: 3px" (click)="fn_Map(project)"> Map</button>

                                    <button [disabled]="project.projectLead==null?true:false" class="btn btn-success" style="width: 80px;border: transparent;margin-left: 3px" (click)="fn_View(project)"> View</button>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<form #myform="ngForm" enctype="multipart/form-data" ngNativeValidate>

    <div *ngIf="show">

        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="projectmodel._id">

        <div id="hide_content" class="card">

            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <label>Project Name :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txt_Name" class="form-control" name="projectName" #projectName="ngModel" placeholder=" (Min 5 characters)" minlength="5" maxlength="100" [readonly]="hide" pattern="[a-zA-Z._ \d]{5,100}" [(ngModel)]="projectmodel.projectName" required>
                        <span class="help-block" *ngIf="projectName.errors?.pattern&&!projectName.valid">min 5 characters  </span>
                    </div>
                </div><br>
                <div class="row" *ngIf="hide">
                    <div class="col-md-4">
                        <label>Project State :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <select id="projectstate" class="form-control" #projectState="ngModel" name="projectState" (change)="fn_Change(projectmodel._id,projectmodel.projectState)" [(ngModel)]="projectmodel.projectState" required>
                          <option value="created"  [disabled]="projectmodel.projectState=='started'||projectmodel.projectState=='ON-hold'||projectmodel.projectState=='created'?true:false" >created</option>
                          <option value="ON-hold">ON-hold</option>
                          <option value="completed" [disabled]="projectmodel.projectState=='ON-hold'">completed</option>
                          <option value="cancelled">cancelled</option>
                          <option value="started">started</option>

                        </select>
                    </div>
                </div><br>

                <div class="row" *ngIf="hide">
                    <div class="col-md-4">
                        <label>Team Lead :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">

                        <select id="projectLead" class="form-control"  name="projectLead" [(ngModel)]="projectmodel.projectLead" required>
                            <option *ngFor="let user of teamleadList"  [value]="btnValue=='MAP'?user._id:user.UserId"  [hidden]=""  >{{user.name}}</option>

                        </select> 

                        <!-- <select id="projectLead" class="form-control"  name="projectLead" [(ngModel)]="projectmodel.projectLead[0]" required>
                            <ng-container *ngFor="let user of teamleadList">
                                                       
                             <option  *ngIf="btnValue=='MAP'" [value]="user._id"    >{{user.name}}</option>
                             <option  *ngIf="btnValue!='MAP'" [value]="user.UserId"   >{{user.name}}</option>
                            
                            </ng-container>
                            
                        </select> -->

                  

                        

                    </div>
                </div><br>

                <div class="row" *ngIf="view">

                    <input type="hidden" id="txt_time" class="form-control" name="createdOn" #createdOn="ngModel" [(ngModel)]="projectmodel.createdOn">
                </div>

                <div class="row" *ngIf="view">

                    <input type="hidden" id="txt_selectTime" class="form-control" name="selectDate" #selectDate="ngModel" [(ngModel)]="projectmodel.selectDate">
                </div>
                <div class="row" *ngIf="hide">
                    <div class="col-md-4">
                        <label>Team Member :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">

                        <mat-select #select style="width: 100%; " multiple  id="id " class="form-control " #projectMembers="ngModel" name="projectMembers " [(ngModel)]="projectmodel.projectMembers "   required>
                            <mat-option #matoption  *ngFor="let user of teammemberList" [hidden]=" "  [value]="btnValue=='MAP'?user._id:user.UserId"   (click)="Fn_Member($event,matoption)">{{user.name}}</mat-option>
                        </mat-select>
 
                    </div>
                </div><br>

                <div class="row" [hidden]="btnValue=='MAP'?true:false" *ngIf="addmem">
                    <div class="col-md-4">
                        <label>Add Member :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">

                        <mat-select style="width: 100%; " multiple id="addMembers " class="form-control "    required>
                            <mat-option  #matoption  *ngFor="let user of AddMemberList" [value]="btnValue=='EDIT'?user._id:user.UserId"   (click)="Fn_Member($event,matoption)" >{{user.name}}</mat-option>
                        </mat-select>
                        
                    </div>
                </div> <br> 

                <input type="hidden" name="ismap" #ismap="ngModel" [(ngModel)]="projectmodel.ismap">

                <div style="margin-top: 2%;" class="col-md-12  text-right">
                    <button id="btn_save" class="btn btn-success" (click)="fn_Save(myform)">Save</button> &nbsp;
                    <button class="btn btn-danger" (click)="fn_Cancel(myform)">Cancel</button>

                </div>

            </div>

        </div>





    </div>

</form>


<div class="card" *ngIf="view">


    <!-- .card-body -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label>Project Name </label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <!-- <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectName}} readonly> -->
                <p>{{projectmodel.projectName}}</p>

            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Created ON </label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <p  style="background-color: transparent;" readonly>{{projectmodel.createdOn|date:'medium'}} </p>


            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Current State :</label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                
                <!-- <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectState}} readonly> -->
           <p>{{projectmodel.projectState}}</p>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>{{projectmodel.projectState}}  ON </label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <p  style="background-color: transparent;" readonly>{{projectmodel.selectDate|date:'medium'}}</p>

            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Team Lead :</label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <!-- <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectLead}} readonly> -->
                <p>{{projectmodel.projectLead[0].name}}</p>

            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Team Member :</label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">

                
                <!-- <input type="text" class="form-control" style="background-color: transparent;" value="para" readonly> -->
<span style='margin-right:1.0em;' *ngFor= "let mem of teamMemberlist">{{mem}}</span>
            </div>
            <div class="col-md-3"></div>

        </div>



    </div>
    <!-- /.card-body -->
</div>
