  <div class="back" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">


  <div id="main">

    <form   #myform="ngForm">
  <div id="one">
    <input class="form-control" type="email" id="txt_Username"  placeholder="Email address"  name="email" pattern="[a-zA-Z_.\d]{7,50}@[a-z\d]{4}[.][a-z]{2}" #email ="ngModel" ngModel><br><br>
    <span class="help-block" *ngIf="show  && !email.valid ">Enter valid email</span>
  </div>
  <div id="two">
    <button id="btn_ms" class="btn btn-success"  type="submit" [disabled]="email.invalid" value = "MS" (click)="Fn_Login(myform.value)">Login with
      <span><img src="../../assets/images/ms_logo.png" height="20" /></span>
    </button>
  </div><br>

  <div id="two">
    <button id="btn_fb" class="btn btn-primary"  value = "FB" (click)="fn_Fblogin()" >Login with 
      <span> <i class="fab fa-facebook-f left"></i> Facebook</span>
    </button>
  </div>




    </form>

  </div>


</div>
