.spinner {  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3ea8bd
;
    z-index: 99;
    height: 100%;
    opacity: .8;
 }
.spinner mat-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    color: red;
}
.spinner img {
    position: absolute;
    left: 45%;
    top: 35%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    color: red;
}
h1{
  margin-top: 4%;
}
h2
{
    text-align: center; 
    color: white;
}


