

    <div class="spinner" ng-show="loading">
        <img  src="../../assets/images/XlO9.gif" height="400"/>

        <h1 style="text-align: center; color: white">WE ARE VERIFYING </h1>
        <h2> PLEASE WAIT</h2>

        <!-- <img src="http://w3lessons.info/demo/jquery-preloader/ajax-loader.gif" /> -->
            <div class="caption">

               <!-- <img src=" https://media4.giphy.com/media/tf9jjMcO77YzV4YPwE/200w.webp?cid=ecf05e47rrp2exc3w5zo9iiby1qnjng72x5ua4o3oywporyo&rid=200w.webp"> -->
            </div>
    







      </div>


