

<div class="back" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
 
    <div id="main">
        <img style="width:70%" src="../../assets/images/GreenMatterLogo.png"  /><br><br>
 
        <form style="text-align:center; font-size: 20px;font-family: Calibri;    font-weight: bold;    color:cornflowerblue;    text-transform: uppercase;">
            <p>Thanks for using GREEN MATTERS</p>
            <p> It's good idea to close all browser windows!!</p>
            <!-- <div class="w3table-cell" > -->
            <!-- </div> -->
        </form>
        <button class="btn btn-outline-success button" (click)="fn_Relogin()">Re-login</button>
        
    </div>
  
    
  </div>