

<div class="back" >
 
    <div id="main">
        <img src="assets/images/images (2).png" id= logo alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 6">
       <br><br>
        <form style="text-align:center; font-size: 20px;font-family: Calibri;    font-weight: bold;    color:cornflowerblue;    text-transform: uppercase;">
            <p>Thanks for using Task Management!!..</p>
          
            <!-- <div class="w3table-cell" > -->
            <!-- </div> -->
        </form>
        <button class="btn btn-outline-success button" (click)="fn_Relogin()">Re-login</button>
        
    </div>
  
    
  </div>