<div class="pg-wrapper">
<button id="show_content" (click)="Fn_AddUser()"><i class="fa fa-plus" aria-hidden="true"></i>Add Project </button>
<div class="container-fluid" style="margin-top: 8%;">
    <div class="row">
        <div class="col-12">
            <div class="card" id="table-content">

                <!-- /.card-header -->
                <div class="card-body">
                    <table  id = "table" class="card-table table"  datatable>
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Status</th>
                                <th>Project Lead</th>
                                <th>Created on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projectService.projects">
                                <td>{{project.projectName}}</td>
                                <td>{{project.projectState}}</td>
                                <td>{{project.projectLead==undefined?'NA':project.projectLead}}</td>
                                <td>{{project.createdOn |date:'medium' }}</td>
                                <td>
                                    <button [hidden]="project.projectLead==null?true:false" [disabled]="project.projectState=='completed' || project.projectState=='cancelled'?true:false" class="btn btn-primary" style="background-color: rgb(211, 21, 211);width: 80px;border: transparent;margin-left: 3px;"
                                        (click)="fn_Edit(project)"> Edit</button>

                                    <button [hidden]="project.projectLead==null?false:true" id="{{project._id}}" class="btn btn-warning" style="background-color: rgb(250, 81, 109);width: 80px;border: transparent;margin-left: 3px" (click)="fn_Map(project)"> Map</button>

                                    <button [disabled]="project.projectLead==null?true:false" class="btn btn-success" style="width: 80px;border: transparent;margin-left: 3px" (click)="fn_View(project)"> View</button>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<form #myform="ngForm" enctype="multipart/form-data" ngNativeValidate>

    <div *ngIf="show">

        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="projectmodel._id">

        <div id="hide_content" class="card">

            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <label>Project Name :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txt_Name" class="form-control" name="projectName" #projectName="ngModel" placeholder=" (Min 5 characters)" minlength="5" maxlength="100" [readonly]="hide" pattern="[a-zA-Z._ \d]{5,100}" [(ngModel)]="projectmodel.projectName" required>
                        <span class="help-block" *ngIf="projectName.errors?.pattern&&!projectName.valid">min 5 characters  </span>
                    </div>
                </div><br>
                <div class="row" *ngIf="hide">
                    <div class="col-md-4">
                        <label>Project State :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">
                        <select id="projectstate" class="form-control" #projectState="ngModel" name="projectState" (change)="fn_Change(projectmodel._id,projectmodel.projectState)" [(ngModel)]="projectmodel.projectState" required>
                          <option value="created"  [disabled]="projectmodel.projectState=='started'||projectmodel.projectState=='ON-hold'||projectmodel.projectState=='created'?true:false" >created</option>
                          <option value="ON-hold">ON-hold</option>
                          <option value="completed" [disabled]="projectmodel.projectState=='ON-hold'">completed</option>
                          <option value="cancelled">cancelled</option>
                          <option value="started">started</option>

                        </select>
                    </div>
                </div><br>

                <div class="row" *ngIf="hide">
                    <div class="col-md-4">
                        <label>Team Lead :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">

                        <select id="projectLead" class="form-control" #projectLead="ngModel" name="projectLead" [(ngModel)]="projectmodel.projectLead" required>

                          <option id="{{user._id}}"*ngFor="let user of userService.users"   [value]="user.name"  [hidden]="user.role=='Member'?true:false ||  user.isExisitngMember==true?true:false ||user.enableOrDisable==true?true:false " >{{user.name}}</option>
                        </select>

                    </div>
                </div><br>

                <div class="row" *ngIf="view">

                    <input type="hidden" id="txt_time" class="form-control" name="createdOn" #createdOn="ngModel" [(ngModel)]="projectmodel.createdOn">
                </div>

                <div class="row" *ngIf="view">

                    <input type="hidden" id="txt_selectTime" class="form-control" name="selectDate" #selectDate="ngModel" [(ngModel)]="projectmodel.selectDate">
                </div>
                <div class="row" *ngIf="hide">
                    <div class="col-md-4">
                        <label>Team Member :<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8">

                        <mat-select style="width: 100%; " multiple id="projectMembers " class="form-control " #projectMembers="ngModel" name="projectMembers " [(ngModel)]="projectmodel.projectMembers " required>
                            <mat-option id="{{user._id}}" *ngFor="let user of userService.users" [hidden]="user.role=='Team Lead' ?true:false || (user.isExisitngMember==true?true:false ) " [value]="user.name">{{user.name}}</mat-option>
                        </mat-select>
                        <!-- <mat-select style="width: 100%; " multiple id="projectMembers " class="form-control " #projectMembers="ngModel" name="projectMembers " [(ngModel)]="projectmodel.projectMembers " required>
                            <mat-option id="{{user._id}}" *ngFor="let user of userService.users" [hidden]="user.role=='Team Lead' ?true:false || (user.isExisitngMember==true?true:false ) ||user.enableOrDisable==true?true:false " [value]="user.name">{{user.name}}</mat-option>
                        </mat-select> -->
                        <!-- <input type="text" id="txt_members" class="form-control" name="projectMembers" #projectMembers="ngModel" [(ngModel)]="projectmodel.projectMembers"> -->
                        <!-- <ng-multiselect-dropdown [data]="dropdownList" [(ngModel)]="projectmodel.projectMembers" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings">
                        </ng-multiselect-dropdown> -->
                    </div>
                </div><br>
                <input type="hidden" name="ismap" #ismap="ngModel" [(ngModel)]="projectmodel.ismap">

                <div style="margin-top: 2%;" class="col-md-12  text-right">
                    <button id="btn_save" class="btn btn-success" [disabled]="!myform.valid" (click)="fn_Save(myform)">Save</button> &nbsp;
                    <button class="btn btn-danger" (click)="fn_Cancel(myform)">Cancel</button>

                </div>

            </div>

        </div>





    </div>

</form>


<div class="card" *ngIf="view">


    <!-- .card-body -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label>Project Name </label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectName}} readonly>

            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Created ON </label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <p class="form-control" style="background-color: transparent;" readonly>{{projectmodel.createdOn|date:'medium'}} </p>


            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Current State :</label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectState}} readonly>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>{{projectmodel.projectState}}  ON </label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <p class="form-control" style="background-color: transparent;" readonly>{{projectmodel.selectDate|date:'medium'}}</p>

            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Team Lead :</label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectLead}} readonly>

            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2">
                <label>Team Member :</label>
            </div>
            <div class="col-md-1">:</div>

            <div class="col-md-3">
                <input type="text" class="form-control" style="background-color: transparent;" value={{projectmodel.projectMembers}} readonly>

            </div>
            <div class="col-md-3"></div>

        </div>




    </div>
    <!-- /.card-body -->
</div>
</div>